{% set lang = _lang.MOD %}
{% if settings.headline %}<h1 id="tl_welcome">{% if lang[do] %}{{ lang[do][0] }}{% else %}{{ do }}{% endif %}</h1>{% endif %}

<div id="tl_soverview" class="nested_menu {{ do }}">

	{{ pre }}

	<div id="tl_nested_menu">
		{% for group, modules in groups %}

			<h2>{% if lang[group] %}{% if lang[group]|length <= 2 %}{{ lang[group][0] }}{% else %}{{ lang[group] }}{% endif %}{% else %}{{ group }}{% endif %}</h2>

			{% for moduleName, module in modules %}
				<div class="tl_nested_menu_group{% if module.class %} {{ module.class }}{% endif %}"{{ module.containerAttributes }}>
					<h3{% if module.icon %} {{ module.icon }}{% endif %}{{ module.headlineAttributes }}>
						<a href="{{ module.href }}" class="navigation {{ moduleName }}"{{ module.linkAttributes }}>{{ module.label }}</a>
					</h3>

					<p>{{ module.description }}</p>
				</div>
			{% endfor %}
		{% endfor %}
	</div>

	{{ post }}

</div>
